<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>171100100727-h8v06scvebji4ek3436kj45a66hen892.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.171100100727-h8v06scvebji4ek3436kj45a66hen892</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>171100100727-ulavubdcchkbke95ivmb7um3bgtmef3c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC4JHoue4EU3AkR-8Ouh41jDdlznjqvNP0</string>
	<key>GCM_SENDER_ID</key>
	<string>171100100727</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.yonnick.timetracker</string>
	<key>PROJECT_ID</key>
	<string>time-tracker-5676e</string>
	<key>STORAGE_BUCKET</key>
	<string>time-tracker-5676e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171100100727:ios:3b2aae0d4d62f6e3da4e72</string>
</dict>
</plist>